<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/css/contact.css">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="content">

      <div class="right-side">
        <div class="topic-text"><h3>Centre for Development of Advanced Computing</h3></div>

      <form action="#">
        <div class="input-box">
          <input type="text" placeholder="Enter your name">
        </div>
        <div class="input-box">
          <input type="text" placeholder="Enter your email">
        </div>
        <div class="input-box message-box">
      <textarea placeholder="Query"></textarea>
        </div>
        <div class="button">
          <input type="button" value="Send Now" >
        </div>
        <div class="left-side">
          <div class="address details">
            <i class="fas fa-map-marker-alt"></i>
            <h2>Address</h2>
            <div class="text-one">	NIT Silchar  <br>
              Silchar - 788010.<br>
              Assam (India) <br></div>

          </div>
          <div class="phone details">
            <i class="fas fa-phone-alt"></i>
            <h2>Phone Number</h2>
            <div class="text-one">+91 03842-242009<br>
            +91 03842-242009</div>

          </div>
          <div class="email details">
            <i class="fas fa-envelope"></i>
          <h2>Email</h2>
            <div class="text-one">dev.ritu.kapur@gmail.com</div>

          </div>
          <div class="email details">
            <i class="fas fa-envelope"></i>
            <h2>Location</h2>
            <div class="text-one"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d57956.10079400175!2d92.75613339405679!3d24.786675806602158!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x374e49c2683c9f95%3A0x9698a07544a4b227!2sC-DAC%20Silchar!5e0!3m2!1sen!2sin!4v1663579321629!5m2!1sen!2sin" width="98%" class="shadow border boder-white" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>

          </div>
        </div>
      </form>
    </div>
    </div>
  </div>
</body>
</html>
