<!DOCTYPE html>
<html>

<head>
  <title>Forgot password</title>
  <link rel="stylesheet" href="css/styles7.css">
</head>

<body>
  <div class="header">
    <img src="images/allinone.jpeg">
    <br>
    <div class="home">
      <a href="/forgotUsername">HOME</a>
      <a href="">CONTACT US</a>
      <a href="">ABOUT US</a>
      <a href="">FAQ</a>
      <a href="">GUIDELINES</a>
    </div>

    <div class="div1">
      <h1 id="heading" class="heading1">
        FORGOT PASSWORD
      </h1>
      <form action="/forgotPass" method="post">
        <div class="main">
          <p> Username/Email Id</p>
          <input type="email" name="username" placeholder="Username">
          <br>
        </div>
        <div class="div2">
          <button type="submit" name="submit">Send Link</button>
        </div>
      </form>
      <div class="bottom">
        <p class="para">Back To<a href="/">User login</a></p>
      </div>
    </div>
</body>

</html>