<!DOCTYPE html>
<html>

<head>
  <title>forgot username</title>
  <link rel="stylesheet" href="/css/styles8.css">
</head>

<body>
  <div class="header">
    <img src="/images/allinone.jpeg">
    <br>
    <div class="home">
      <a href="/forgotPass">HOME</a>
      <a href="">CONTACT US</a>
      <a href="">ABOUT US</a>
      <a href="">FAQ</a>
      <a href="">GUIDELINES</a>
    </div>
    <div class="div1">

      <h1 id="heading" class="heading1">
        Reset Username
      </h1>
      <form action="" method="post">
        <div class="main">
        <p> Type Email</p>
        <input type="New password" name="newpassword" placeholder="New password">
        <br>
        <p>Reset username</p>
        <input type="Confirm password" name="Confirmpassword" placeholder="Confirm password">
        <br>
      </div>
      <br><br>
      <div class="div2">
        <button type="submit" name="button">Update</button>
      </div>
      </form>
      <div class="bottom">
        <p class="para">
          Back To
          <a href="/">User login</a>
        </p>

      </div>
    </div>
</body>
<script type="text/javascript">
  function reset() {
    location.reload();
  }
</script>

</html>