<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Admin's page</title>
  <link rel="stylesheet" href="css/practice.css">
</head>

<body>
  <div class="top-container">
    <div class="head">
      <img id="logo" src="images/logo.png" alt="">
      <div class="title">
        <p>
        <h1> National Institute of Technology,Silchar</h1>
        <h3 style="font-size:25px;">Grievance Redressal System</h3>
        </p>
      </div>
      <img id="clg" src="images/WhatsApp Image 2022-12-13 at 3.43.23 PM.jpeg" alt="">
    </div>
    <div class="navbar">
      <a class="active" style="background-color:#a44224;" href="#"> Home</a>
      <a href="#">Search</a>
      <a href="#"><i class="" ></i> Contact</a>
      <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
      <a href="#"><i class="fa fa-fw fa-user"></i> about</a>
    </div>
  </div>

      <div class="dropup">
  <button class="dropbtn">Electrical</button>
  <div class="dropup-content">
    <a href="#">complaint 1</a>
    <a href="#">complaint 2</a>
    <a href="#">complaint 3</a>
  </div>
</div>
<br >
<div class="dropup">
<button class="dropbtn">Civil</button>
<div class="dropup-content">
<a href="#">Link 1</a>
<a href="#">Link 2</a>
<a href="#">Link 3</a>
</div>
</div>
<br >
<div class="dropup">
<button class="dropbtn">mechanical</button>
<div class="dropup-content">
<a href="#">Link 1</a>
<a href="#">Link 2</a>
<a href="#">Link 3</a>
</div>
</div>
<br >
<div class="dropup">
<button class="dropbtn">Electronics</button>
<div class="dropup-content">
<a href="#">Link 1</a>
<a href="#">Link 2</a>
<a href="#">Link 3</a>
</div>
</div>


      <!-- <select class="" name="">
        <option value="">Complaint 1</option>
        <option value="">Complaint 2</option>
        <option value="">Complaint 3</option>
      </select>


      <!-- <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'Electrical')" id="defaultOpen">Electrical</button>
        <button class="tablinks" onclick="openCity(event, 'Civil')">Civil</button>
        <button class="tablinks" onclick="openCity(event, 'Electronics')">Electronics</button>
        <button class="tablinks" onclick="openCity(event, 'Electronics')">Mechanical</button>
        <button class="tablinks" onclick="openCity(event, 'Electronics')">E&I</button>
        <button class="tablinks" onclick="openCity(event, 'Electronics')">CSE</button>
      </div>

      <div id="Electrical" class="tabcontent">
        <!-- <h3>London</h3>
          <p>London is the capital city of England.</p> -->
      <!-- </div>

      <div id="Civil" class="tabcontent">
        <!-- <h3>Paris</h3>
          <p>Paris is the capital of France.</p> -->
      <!-- </div>

      <div id="Electronics" class="tabcontent">
        <!-- <h3>Tokyo</h3>
          <p>Tokyo is the capital of Japan.</p> -->
      <!-- </div>

      <div id="Mechanical" class="tabcontent"> -->
        <!-- <h3>Tokyo</h3>
          <p>Tokyo is the capital of Japan.</p> -->
      <!-- </div>

      <div id="E&I" class="tabcontent"> -->
        <!-- <h3>Tokyo</h3>
          <p>Tokyo is the capital of Japan.</p> -->
      <!-- </div>

      <div id="CSE" class="tabcontent"> -->
        <!-- <h3>Tokyo</h3>
          <p>Tokyo is the capital of Japan.</p> -->
      <!-- </div> -->

      <!--script>
          function openCity(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
              tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
              tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
          }

          // Get the element with id="defaultOpen" and click on it
          document.getElementById("defaultOpen").click();
        </script-->
    </div>
    <div class="middle">

    </div>
    <div class="right">

    </div>
  </div>

  <div class="iii-container">

  </div>
</body>

</html>
