<!DOCTYPE html>
<html>
<head>
  <title>Login with password</title>
  <link rel="stylesheet" href="/css/styles12.css">
</head>
<body>
  <div class="header">
    <img src="/images/allinone.jpeg">
    <div class="home">
      <a href="/admin" class="nav">HOME</a>
      <a href="" class="nav">CONTACT US</a>
      <a href="" class="nav">ABOUT US</a>
      <a href="" class="nav">FAQ</a>
      <a href="">GUIDELINES</a>
    </div>

    <button class="tablink" onclick="openPage('Userlogin', this, '#7cb342')" id="defaultOpen">USER LOGIN</button>
    <button class="tablink" onclick="openPage('otplogin', this, 'green')">LOGIN USING OTP</button>
    <% if(message.length > 0){ %> 
      <div class="alert">
        <%= message %> 
      </div>
    <% } %>

    <div id="Userlogin" class="tabcontent">
      <h2 class="heading">
        USER LOGIN
      </h2>
      <form action="/login" method="post">
        <div class="middle1">
          <p>Username/Email Id</p>
          <input type="text" name="username" value="username" placeholder="Username"><br>
          <p>Password</p>
          <input type="password" name="password" value="password" placeholder="password"><br>
          <p>security code</p>
          <input type="security code" name="security code" placeholder="security code"><br>
          <div class="code1">
            <img alt="Captcha" id="CaptchaImage"
              src="https://pgportal.gov.in/Captcha/GetCaptcha?1671354534686?1671354535434" width="50"
              height="20"><button class="refresh" type="reset" onclick="reset()"> <img src="images/ico_captcha.jpg"></button>
          </div>
        </div>
        <br><br>
        <div class="div1">
          <button type="submit">Login</button>
          <button type="reset" onclick="reset()">Reset</button>
        </div>
      </form>
      <div class="link1">
        <a href="/forgotPass">Forgot password?</a>
        <a href="/forgotUsername">Forgot Username</a>
        <a href="/registration">Not a member? Register</a>
      </div>
    </div>

    <div id="otplogin" class="tabcontent">
      <h2 class="heading">
        LOGIN using otp
      </h2>
      <div class="middle2">
        <p>
          Username/Email Id/Mobile No
        </p>
        <input type="text" name="user" placeholder="Username"><br>

        <p>
          OTP
        </p>
        <input type="OTP" name="OTP" placeholder="OTP"><br>


      </div>
      <br><br>
      <div class="div1">
        <button> <a href="http://127.0.0.1:5500/.vscode/html/project/project5/sriram/test.html"></a> Login</button>
        <button onclick="reset()">Reset</button>
      </div>
      <div class="link2">
        <a href="/forgotPass">Forgot password?</a>
        <a href="/registration">Not a member? Register</a>

      </div>
    </div>
    <script type="text/javascript" src="/js/ruchi.js">

    </script>
</body>

</html>