<!DOCTYPE html>
<html>

<head>
  <title>Login with password</title>
  <link rel="stylesheet" href="/css/styles12.css">
</head>

<body style="background-image:url(/images/img1.jpg);">


  <div class="head">
    <img id="logo" src="/images/cdac logo.jpg" alt="">
    <div class="title">
      <h1> Centre for Development of Advanced Computing Center in North East  SILCHAR</h1>
  
      <h3 style="font-size:30px;"> Public Grievance Redressal System</h3>
    </div>
    <img id="clg" src="/images/WhatsApp Image 2022-12-19 at 3.45.10 PM.jpeg" alt="">
  </div>
  <div class="nav">
    <a href="/" class="nav">HOME</a>
    <a href="/about" class="nav">ABOUT US</a> 
      <a href="/contact" class="nav">CONTACT US</a>
   
      <a href="https://www.cdac.in/index.aspx?id=edu_acts_NECertificateSilchar">C-DAC</a>
  
    </div>
  <button class="tablink" onclick="openPage('Userlogin', this,'rgb(96 107 178 / 40%)')" id="defaultOpen">USER LOGIN USING PASSWORD</button>
  <button class="tablink" onclick="openPage('otplogin', this, '#8f443b7a')">USER LOGIN USING OTP</button>

  <% if(message.length > 0){ %> 
    <div class="alert">
      <%= message %> 
    </div>
  <% } %>

  <div id="Userlogin" class="tabcontent">

    <h2 class="heading">
      Login Using Password
    </h2>

    <!-- images -->
    <div class="wrapper">

      <div class="images-area">
        <img src="/images/img6.jpg" alt="image"class="firstImage">
        <img src="/images/img4.jpg" alt="image">
        <img src="/images/img5.jpg" alt="image">

        <img src="/images/cdac1.jpeg" alt="image" >
        
        <img src="/images/cdac2.jpeg" alt="image">
        <img src="/images/cdac3.jpeg" alt="image">
        <img src="/images/cdac4.jpeg" alt="image">
       
        
      </div>

      <div class="buttons-area">
        <div class="previous-btn">
          <i class='bx bx-chevron-left'></i>
        </div>
        <div class="next-btn">
          <i class='bx bx-chevron-right'></i>
        </div>
      </div>

      <div class="pagination-area">
      </div>
    </div>
    <!-- images end -->


    <form class="form" action="/login" method="post">
      <div class="middle1">
        <p>
          Username/Email Id/Mobile No
        </p>
        <input type="text" name="username" placeholder="Username"><br>
        <p>
          Password
        </p>
        <input type="password" name="password" placeholder="password"><br>
        <div class="login-form">
          <div class="captcha">
            <label for="captcha-input">Security Code</label>
            <input type="text" id="captcha-form" placeholder="Security Code">
         
              
              <div class="button">
                <div class="preview"></div>
                <input type="button" class="captcha-refresh" >
                <i class="fa fa-refresh"></i>
              </input>
              </div>
           
          </div>
        </div>
      </div>

      <br><br>
      <div class="div1">
        <button type="submit">Login</button>
        <!-- <button onclick="reset()">Reset</button> -->
      </div>
      <div class="link1">

        <ul>

          <li><a href="/forgotPass">Forgot password?</a></li>
          <li><a href="/forgotUsername">Forgot username?</a></li>

          <li><a href="/registration">Not a member? Register</a></li>
        </ul>
      </div>
    </form>
  </div>


  <div id="otplogin" class="tabcontent">

    <h2 class="heading">
      LOGIN USING OTP
    </h2>


    <div class="wrapper1">

      <div class="imagesarea1">
        <img src="/images/img3.jpg" alt="image" class="firstImage1">


      </div>

      <div class="buttonsarea1">
        <div class="previousbtn1">
          <i class='bxbxchevronleft1'></i>
        </div>
        <div class="nextbtn1">
          <i class='bxbxchevronright1'></i>
        </div>
      </div>

      <div class="paginationarea1">
      </div>
    </div>




    <form class="form1" method="post">
      <div class="middle2">
        <p>
          Username/Email Id/Mobile No
        </p>
        <input type="text" name="user" placeholder="Username"><br>
        <p>
          OTP
        </p>
        <div class="otp">

          <input type="OTP" name="OTP" placeholder="Password"><br>

          <button type="button" onclick="generate()">Generate OTP</button>


        </div>
      </div>
      <br><br>
      <div class="div1">
        <button type="submit">Login</button>
        <!-- <button onclick="reset()">Reset</button> -->
      </div>
      <div class="link2">

        <ul>

          <li><a href="/forgotPass">Forgot password?</a></li>
          <li><a href="/forgotUsername">Forgot username?</a></li>

          <li><a href="/registration">Not a member? Register</a></li>
        </ul>
      </div>

    </form>
  </div>
  <br>
  <br>
  <hr>
  <br><br>
  <footer>
    <p>
     <a href="https://www.cdac.in/index.aspx?id=help">Help</a>
     <a href="https://www.cdac.in/index.aspx?id=website_policies">Website Policies</a>
     <a href="https://www.cdac.in/index.aspx?id=legal_notice#2">Copyrights Policy</a>
     <a href="https://www.cdac.in/index.aspx?id=terms_conditions">Terms & Conditions</a>
     <a href="https://www.cdac.in/index.aspx?id=reach_us">Reach Us</a>
     <a href="https://www.facebook.com/CDACINDIA/"><img src="/images/pics/facebook.png" alt=""></a>
     <a href="https://www.linkedin.com/messaging/thread/2-NzI2YmNjMmItNzU3NS00ZjRiLTllZDMtNmZjNzU3MGJiZDIyXzAxMw==/"><img src="/images/pics/linkedin.png" alt=""></a>
     <a href="https://twitter.com/cdacindia?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><img src="/images/pics/twitter.png" alt=""></a>
    </p>
    <p>Website owned & maintained by: Centre for Development of Advanced Computing (C-DAC)</p>
    <p>© 2022 C-DAC. All rights reserved, Last Updated: Monday, December 26, 2022</p>
 </footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/ruchi.js">


</script>

</html>
