<!DOCTYPE html>
<html>

<head>
  <title>Reset password</title>
    <link rel="stylesheet" href="/css/style.css">
  <!-- <link rel="stylesheet" href="css/style.css"> -->
</head>

<body>
  <div class="header">
    <img src="/images/allinone.jpeg">
    <br>
    <div class="home">
      <a href="">HOME</a>
      <a href="">CONTACT US</a>
      <a href="">ABOUT US</a>
      <a href="">FAQ</a>
      <a href="">GUIDELINES</a>
    </div>

    <div class="div1">
      <h1 id="heading" class="heading1">
        RESET PASSWORD
      </h1>
      <% if(message.length > 0){ %> 
      <div class="alert alert-warning">
        <%= message %> 
      </div>
    <% } %> 
      <form action="" method="post">
        <div class="main">
            <p> New password</p>
        <input type="New password" name="newpassword" placeholder="New password">
          <br>
          <p>Confirm New password</p>
        <input type="New password" name="confirmNewpassword" placeholder="Confirm password">
        <br>
        </div>
        <div class="div2">
          <button type="submit" name="submit">Update</button>
        </div>
      </form>
      <div class="bottom">
        <p class="para">Back To<a href="/">User login</a></p>
      </div>
    </div>
</body>

</html>